# Common
Common/Bin/Data/480x320
Common/Bin/Data/1920x1200
Common/Bin/Inspiration

# Android
Android/Project/assets
Android/Project/bin
Android/Project/gen
Android/Project/libs
Android/Project/obj

# Mac
.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Eclipse
Android/Project/.classpath
Android/Project/.project
Android/Project/.settings