# Common
Common/Bin/Design
Common/Bin/OpenSources

# Android
Android/Project/android/assets
Android/Project/android/bin
Android/Project/android/gen
Android/Project/android/libs
Android/Project/android/obj

# Mac
.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
